@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

body {
  background-color: #fcf7ff;
}

.nav-bar {
  padding: 1em;
  background-color: #655560;
  text-align: left;
  font-size: 2em;
  font-family: 'Aclonica', sans-serif;
  color: #FCF7FF;
  text-shadow: -3px 5px 1px #342C32;
  box-shadow: 0px 3px 1px #342C32;
}

.button {
  background-color: #A4969B;
  border-radius: 9px;
  color: #FCF7FF;
  font-family: 'Aclonica', sans-serif;
  width: 130px;
  height: 65px;
  font-size: 20px;
  border: none;
  outline: none;
  text-shadow: 0px 3px 1px #342C32;
  transition: 0.5s;
  box-shadow: 0px 5px 0px #342C32
}

.button:hover {
  background-color:#342C32;
}

.retreat-button {
  margin-left: 25px
}

.nav-bar-contents {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 300px;
  height: auto;
  background-color: #655560;
}

.card {
  padding: 50px;
}

.card-body {
  padding: 15px;
  text-align: center;
  font-family: 'Aclonica', sans-serif;
  color: #FCF7FF;
  background-color: #655560;
  text-shadow: 0px 3px 1px #342C32;
  word-wrap: break-word;
  border-radius: 0px 0px 9px 9px;
  box-shadow: 0px 5px 0px #342C32;
}

.card-title {
  font-size: 30px;
}

.card-text {
  font-size: 20px;
}

ul {
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

li {
  display: inline-block;
  vertical-align: top;
}

.creature-page-head {
  text-align: center;
  font-family: 'Aclonica', sans-serif;
  color: #342C32;
  margin-top: 50px;
  font-weight: bold;
}

.creature-page-header {
  font-size: 40px;
}

.creature-page-text {
  font-size: 25px
}